cffi            
contourpy       
customtkinter   
cycler          
darkdetect     
fonttools       
kiwisolver     
matplotlib    
numpy           
packaging      
Pillow          
pip            
PyAudio        
pycparser     
pyparsing      
python-dateutil 
python-tkdnd  
scipy          
setuptools      
six            
sounddevice    
tkinterdnd2    
ttkwidgets      
